
/* producto details section */


.product{
  max-width: var(--max-1088);
  width: 100%;
  height: auto;
  margin: auto;
}

.product__details{
  display: flex;
  padding: 50px;
}

.product__details--img{
  width: 100%;
  height: auto;
  align-items: center;
}

.product__details--img figure{
  display: flex;
  align-items: center;
}

.product__details--img img{
  width: 100%;
  object-fit: cover;
}

.product__details--text{
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 50px;
}

.product__details--text  > span{
  font-size: var(--normal-16);
  line-height: 25px;
}

.product--description{
  font-size: var(--normal-14);
}

.product--description ul{
  padding: 10px 0 10px 25px;
  list-style: square;
}

.product--description li{
  line-height: 25px;
}

.product--button{
  width: 100%;
}

.product--button button{
  width: 100%;
  height: 35px;
  background-color: var(--mostaza-color);
  border: none;
  font-size: var(--normal-16);
  color: var(--white-color);
  border-radius: 20px;
}

.product--button:hover button:hover{
  cursor: pointer;
  box-shadow: 4px 4px 12px #727272b4;
}

