

.main--products{
  max-width: 1088px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  grid-gap: 50px;
  margin: auto;
  margin-bottom: 50px;
}

.products--cards{
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: var(--box-shadow);
}

.products--cards figure{
  display: flex;
}

.product__image{
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  
}


.product__image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.product__image--info__text{
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
}

.text--button{
  width: 135px;
}

.text--button button{
  background-color: var(--mostaza-color);
  border-radius: 25px;
  color: var(--white-color);
  width: 100%;
  height: 20px;
  border: none;
  box-shadow: var(--box-shadow);
  outline: none;
}

.text--button:hover button:hover{
  cursor: pointer;
}


.product__image--info__text >span{
  margin: 10px;
}

.product__image--info__text:hover{
  opacity: 1;
}

