
/*---------------- VARIABLES -----------------*/

$mostaza-color: #C2923F;
$cat-color:     #d8b475;
$white-color:   #f1eee9;
$gray-color:    #3E3A3E;

/*---------------- PADDING -----------------*/

$padding-10px : 10px;

/*---------------- TYPOGRAPHIC -----------------*/

$normal-12: 12px;
$normal-14: 14px;
$normal-16: 16px;
$weight-600: 600;

$font-muli : "Muli", sans-serif;

/*---------------- BOX SHADOW -----------------*/

$box-shadow: 3px 3px 12px #a7a4a4b4;

/*---------------- MAX WITDH -----------------*/

$max-1088: 1088px;



