/* ------------------------ COLORS ------------------------*/

$color-primary: #C2923F;
$color-secondary: #d8b475;
$color-white: #f1eee9;
$color-auxiliar: #3E3A3E;

/* ------------------------ SPACING ------------------------*/

$padding-10px: 10px;

/* ------------------------ LETTERS ------------------------*/

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-weight-600: 600;

$font-lato : 'Lato', sans-serif;
$font-muli: 'Mulish', sans-serif;

/* ------------------------ SHADOW ------------------------*/

$box-shadow: 3px 3px 12px #a7a4a4b4;

/* ------------------------ HEIGHT AND WIDTH ------------------------*/

$width-1200: 1200px;

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}
