@include media(mobile-only) {
  .header {
    position: fixed;
    z-index: 1;
    justify-content: center;
    top: 0;
  }

  .main {
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    gap: 35px;
    @include grid-template-columns(max(300px));

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    width: 100%;

    h1 {
      width: 300px;
    }
  }

  .partner {
    width: 100%;
    justify-content: center;
    @include grid-template-columns(grid-repeat(2, 100px));

    &__card {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        transform: scale(0.5);
      }
    }

    &:hover &__card {
      
    }
  }

  .footer {
    width: 100%;
    height: 40px;
  }

  .product {
    width: 100%;
    &__card {
      gap: 35px;
      justify-content: center;
      transition: 0.2s;
      @include grid-template-columns(max(300px));
    }

    &__content {
      background: rgba(0, 0, 0, 0.2);
      justify-content: flex-end;
      opacity: 1;

      h3 {
        margin: 0;
      }

      button {
        box-shadow: none;
      }
    }
  }

  .detail {
    width: 100%;
    height: auto;
    justify-content: center;
    @include grid-template-columns(max(300px));
    @include grid-template-rows(grid-repeat(2, 1fr));

    &__src {
      img {
        object-fit: contain;
      }
    }

    &__content {
      margin-top: 20px 0;
    }
  }

  .successfull,
  .failed {
    width: 100%;
    height: 100vh;
    margin: auto;

    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    h2 {
      width: 300px;
      text-align: center;
    }
  }
}
