.post {
  margin: 30px 0;

  &__title {
    padding: 10px 15px;
    background-color: $color-secondary;
    color: $color-white;
    @include font-size($font-20);
    @include title($font-muli)
  }
  
  &__content {
    margin: 20px 0;
    @include font-size($font-16);
    @include title($font-lato)
  }
}